<html>
  <head>
    <title> URL Shortener MicroService</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>URL Shortener MicroService API</h1>
    <p>You can pass a URL and receive a shortened URL in JSON response.</p>
    <p>You can click the shortened URL to redirect to the original link.</p>
    <h3>Example creation usage</h3>
    <p>https://little-url.herokuapp.com/new/https://www.google.com</p>
    <p>https://little-url.herokuapp.com/new/http://foo.com:80</p>
    <h3>Example creation output</h3>
    <p>{ "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }</p>
  </body>
</html>